<h1 class="center">Liste de Pokémons</h1>
<!-- <p (click)="selectPokemen(pokemonList[0])"> {{pokemonList[0].name}}</p> -->
<!-- <input 
type="text" 
(click)="selectPokemen($event)"
 /> -->
<!-- <input 
#input
type="number" 
(keyup)="selectPokemon(input.value)"
/> -->
<!-- <input 
#input
type="number" 
(keyup.enter)="selectPokemon(input.value)"
/>
<p *ngIf="pokemonSelected"> 
      Vous avez selectionnez le pokemon {{pokemonSelected?.name}}
</p>
<p *ngIf="!pokemonSelected"> 
    Aucun pokemon trouvé
</p>-->
  <!-- <p > {{input.value}}</p> -->
<!-- <p *ngFor="let pokemon of pokemonList"> 
    {{pokemon.name}}
</p> -->
<div class="container">
    <div class="row">
        <div *ngFor="let pokemon of pokemonList" class="col m4 s6"> 
            <div class="card horizontal">
                <div class="card-image">
                    <img [src]="pokemon.picture"/>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                    <p> {{pokemon.name}}</p>
                    <p><small> {{pokemon.created}}</small></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div> 
</div>
<input 
#input
type="number" 
(keyup.enter)="selectPokemon(input.value)"
/>
<p *ngIf="pokemonSelected"> 
      Vous avez selectionnez le pokemon {{pokemonSelected?.name}}
</p>
<p *ngIf="!pokemonSelected"> 
    Aucun pokemon trouvé
</p>


